In [1]:
name=str(input('Enter the name: '))
roll=int(input('Enter the roll number:'))
mark=int(input('Enter the mark:'))
print('Name:',name)
print('Roll no:',roll)
print('Mark:',mark)

Enter the name: Anisha
Enter the roll number:21
Enter the mark:78
Name: Anisha
Roll no: 21
Mark: 78

In [2]:
temp = float(input("Enter Temperature: "))
unit = input("Enter unit('C' for Celsius or 'F' for Fahrenheit): ")

if unit == 'C' or unit == 'c' :
    newtemp = 9 / 5 * temp + 32
    print("Temperature in Fahrenheit =", newtemp)
elif unit == 'F' or unit == 'f' :
    newtemp = 5 / 9 * (temp - 32)
    print("Temperature in Celsius =", newtemp)
else :
    print("Unknown unit", unit)

Enter Temperature: 41
Enter unit('C' for Celsius or 'F' for Fahrenheit): f
Temperature in Celsius = 5.0

In [3]:
a=int(input('enter the first number:'))
b=int(input('enter the second number'))
print('product =',a*b)

enter the first number:2
enter the second number3
product = 6

In [4]:
import math
r=float(input('enter the radius:'))
print('Area of the circle=',math.pi*r**2)

enter the radius:5
Area of the circle= 78.53981633974483

In [5]:
string=input()
word = string.split(" ")
output =str('Learn **Python** by Developing a **Website**')
print(output)

Learn Python by Developing a Website
Learn **Python** by Developing a **Website**

In [6]:
number = int(input("Enter a number: "))
list1 = [10, 20, 30, 40, 50]
position = int(input("Enter the position to insert the number: "))
list1.insert(position, number)
print("The updated list is: ", list1)

Enter a number: 3
Enter the position to insert the number: 2
The updated list is:  [10, 20, 3, 30, 40, 50]

In [7]:
sample_dict = { "name": "John", "age": 5, "salary": 8000, "city": "New York"}
location = input("Enter the new location: ")
sample_dict[location] = sample_dict.pop("city")
print("The updated dictionary is: ", sample_dict)

Enter the new location: India
The updated dictionary is:  {'name': 'John', 'age': 5, 'salary': 8000, 'India': 'New York'}

In [8]:
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [9]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2=tuple1[2:4]
print ('new tuple is ',tuple2)

new tuple is  (43, 54)

In [10]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
tuple1.count(50)

3